# Ignore files that need to stay locally
C:\Users\Mrgro\OneDrive\Documents\GitHub\PS-PIM_reporting_entra\AdministratorsReport-PAG.data.js
C:\Users\Mrgro\OneDrive\Documents\GitHub\PS-PIM_reporting_entra\AdministratorsReport-PIM.data.js
C:\Users\Mrgro\OneDrive\Documents\GitHub\PS-PIM_reporting_entra\PIM_Activations.data.js
C:\Users\Mrgro\OneDrive\Documents\GitHub\PS-PIM_reporting_entra\PIM_Activations.json